# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.env
.venv
.envrc
*.egg-info/
dist/
build/

# Data / Kaggle
/kaggle/
/input/
/working/
/output/
/artifacts/
*.csv
*.zip

# Model files
*.pt
*.pth
*.h5

# Jupyter / VSCode / IDE
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store

# Logs
*.log
*.out
*.err
